.productMiniCard__card:first-child{
	box-shadow: 0px 20.06800651550293px 30.10201072692871px 0px rgba(70, 70, 70, 0.1);
}


.productMiniCard__title {
	font-family: Poppins;
	font-size: 19px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0px;
	text-align: left;
	color: rgba(50, 49, 66, 1);
}

.productMiniCard__text {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	color: rgba(50, 49, 66, 1);
}

.productMiniCard__time {
	font-family: Poppins;
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: left;
	color: rgba(172, 173, 185, 1);
}