.blogCard__card{
	width: 26%;
	height: 233px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 20px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 6px 32px 30px 0px rgba(34, 60, 80, 0.2)
}

.blogCard__header {
	font-family: Poppins;
	font-size: 21px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0em;
    text-align: left;
	color: rgba(37, 37, 37, 1);
}

.blogCard__tags {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(141, 141, 141, 1);
}

.blogCard__text {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: justified;
	color: rgba(8, 20, 32, 1);
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	hyphens:none;
	overflow-wrap: normal;
	word-break: keep-all;
	white-space: pre-wrap;
}

.blogCard__reaction{
	margin-left: auto;
	font-family: Manrope;
	font-size: 19px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: left;
	color: rgba(142, 151, 166, 1);
	
}